
/*FOR ALL THE HTML */


body{
    display: block;
    margin: 0;
}

/* HOMEPAGE */

div.sectionTitle h1{
    width: 100%;
    background-color: rgb(1, 87, 155);
    padding:  20px;
    margin: 0;
    flex:1;
    text-indent: 5%;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    font-family: RobotoLightNew, Helvetica, Arial, sans-serif;
}

header {
    position: relative;
}

.lintech-logo {
    position: absolute;
    top: 0;
    right: 0;
}

.lintech-logo img {
    width: 60px; 
    height: auto;
    margin-right: 20px;
    margin-top: 5px;
}

/* Basic styling for the sidebar */
.sidebar {
    width: 6.5%; 
    background-color: #37474F;
    position:fixed;
    margin: 0;
    left:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Style for the school logo */
.school-logo img {
    width: 80%; 
    height: auto;
    margin-top: 15%;
    margin-left: 8%;
    margin-bottom: 50%;
}

.tab-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for tab logos */
.tab-logo img {
    width: 40%; 
    height: auto; 
    margin: 15%;
}

.tab-logo span {
    font-size: 13px; 
    color: white;
}

/* Styling for the content area */
.content {
    margin-left: 10%; 
    padding: 0;
}

/* Style for the scrolling box */
.scrolling-box {
    width: 90%; 
    height: auto;
    white-space: normal;
    border-radius: 10px;
    margin-top: 50px;
    padding: 40px;
    background-color: #37474F;
}


@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Style for individual sub-tabs */
.swiper-slide {
    max-width: 100%;
    height: auto;
    padding: 30px;
    flex-shrink: 0;
    padding-left: 200px;
}

#embedded{
    max-width: 90%;
    height: auto;
    flex-shrink: 0;
    padding-left: 100px;
    object-fit: none;
    object-fit: scale-down;
}


/* Style for the sub-tab content container */
.sub-tabs {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
}

/* Style for the pagination dots (bottom) */
.swiper-pagination {
    display: flex;
    justify-content: center;
    margin: 3px;
    padding: 20px;

    
}

.swiper-pagination .swiper-pagination-bullet {
    width: 25px; 
    height: 15px; 
    background: #555;
    border-radius: 0; 
    margin: 0 5px;
    cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: #37474F; 
}






/* MAP */

.search-bar {
    width: 150px; 
    height: auto;
    padding: 10px 20px;
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 10px;
}

.building-buttons {
    display: flex;
    flex-direction: column; 
    padding: 20px;
}

.building-button {
    width: 150px;
    height: auto;
    padding: 10px 20px; 
    margin: 20px 0; 
    text-align: center;
    background: white;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.building-button:hover {
    background-color:#37474F;
    color: white;
}

.building-button.active {
    background-color: #37474F;
    color: white;
}

#no-building-message {
    display: block;
    color: #888;
    font-size: 18px;
    text-align: center;
}

.building-border {
    width: 1200px; 
    height: 460px; 
    border: 10px solid rgb(1, 87, 155);
    border-radius: 10px;
    white-space: nowrap;
    margin-top: 50px;
    padding: 40px;
    background-color: whitesmoke;
    position: relative;
}

.schedule-container {
    width: 200px;
    height: 450px;
    position: absolute;
    top:50px;
    right:40px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px 50px 0px 0px;
}

.schedule-placeholder {
    font-size: 18px;
    color: #888;
    text-align: center;
}

.blueprints {
    overflow: hidden;
}

.blueprints,
.blueprints * {
    box-sizing: border-box;
}

.blueprints {
    position: absolute;
    width: 700px;
    height: 450px;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    border-radius: 24px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}

.floors-print {
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    position: relative; 
}

.floors-print img {
    width: 100%; 
    height: auto; 
    display: block; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}


/*COURSES */


.course-box {
    width: 1220px; 
    height: 470px; 
    border: 1px solid black;
    border-radius: 30px;
    white-space: nowrap;
    margin-top: 50px;
    padding: 40px;
    background-color: #37474F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-box .college, 
.course-box .strands{
    flex: 1; 
    margin: 0 10px;
}

.course-box .college img, .course-box .strands img{
    max-width: 600px;
    height: auto;
    display: block;
    margin: auto;
    transition: 1s ease;
    border-radius: 20px;
    cursor: pointer;
}

/* .course.box .be-sti{} */

.course-box .college img:hover, 
.course-box .strands img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.info-container {
    display: none;
    position: fixed;
    max-height: calc(100% - 80px);
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1000;
}

.info-container button {
    margin-top: 10px;
    background-color:#1a5276;
}

.info-container button:hover{
    color: white;
    background-color: #37474F;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.category {
    flex: 0 0 30%; /* Adjust the width as needed */
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.category1 {
    flex: 0 0 45%; /* Adjust the width as needed */
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.category p{
    text-align: center;
}

.category1 p,h5{
    
    text-align: center;
}


/*TEACHERS*/

.teacher-box {
    width: 1210px; 
    height: 460px; 
    border: 10px solid rgb(1, 87, 155);
    border-radius: 10px;
    white-space: nowrap;
    margin-top: 50px;
    padding: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*CONTACTS*/

.contact-tab{
    width: 1210px; 
    height: 460px; 
    border: 10px solid rgb(1, 87, 155);
    border-radius: 10px;
    white-space: nowrap;
    margin-top: 50px;
    padding: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

#initialButtons, #feedbackForm, #reportForm, #confirmationMessage {
    width: 1190px; 
    height: auto; 
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

  #feedbackForm, #reportForm {
    display: none;
    width: 1140px;
    height: auto;
    border: 1px solid black;
  }

  #confirmationMessage {
    display: none;
    color: #37474F;
  }

  label {
    display: block;
    margin-bottom: 8px;
    
    color: black;
  }

  input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    color:white;
    background-color: #2980b9;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    color: white;
    background-color: #1a5276;
  }

  .success {
    color: #2ecc71;
  }




@media screen and (max-width: 600px) {
    .content {
        margin-left: 5%;
    }

    .scrolling-box {
        width: 100%;
    }

}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .content {
        margin-left: 8%;
    }

    .scrolling-box {
        width: 80%;
    }

    /* Add more styles as needed */
}
