
/* HOMEPAGE */


/* Basic styling for the sidebar */
.sidebar {
    width: 125px; 
    background-color: #1e212c;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Style for the school logo */
.school-logo img {
    width: 100px; 
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.tab-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for tab logos */
.tab-logo img {
    width: 50px; 
    height: auto; 
    padding: 20px;
}

.tab-logo span {
    font-size: 15px; 
    color: darkgrey;
}

/* Styling for the content area */
.content {
    margin-left: 170px; 
    padding: 35px;
}

/* Style for the scrolling box */
.scrolling-box {
    width: 1160px; 
    height: auto;
    border: 1px solid #1e212c;
    white-space: nowrap;
    margin-top: 50px;
    padding: 45px;
    background-color: #1e212c;
}


@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Style for individual sub-tabs */
.swiper-slide {
    width: 100%;
    padding: 20px;
    flex-shrink: 0;
    padding-left: 155px;
}

/* Style for the sub-tab content container */
.sub-tabs {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
}

/* Style for the pagination dots (bottom) */
.swiper-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    padding: 50px;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 25px; 
    height: 15px; 
    background: #555;
    border-radius: 0; 
    margin: 0 5px;
    cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: #1e212c; 
}






/* MAP */

.building-box{
    position: absolute;
    width: 75rem;
    height: 40rem;
    right: 2%;
    bottom: 4%;
    background-color: #2C384A;
    border-radius: 1.5rem;
    box-shadow: 9px 11px 6px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}
.building-menu{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2%;
    
}
.search-bar{
    width: 9rem;
    height: 1.5rem;
    border-radius: 1.75rem;
    border: 2px solid #C7C7C7;
    background: #FFF;
}
.search-button{
    height: 1.75rem;
    border-radius: 1.75rem;
    border: 2px solid #C7C7C7;
}
.building-btn{
    border-radius: 0.6875rem;
    background: #FFF;
    margin: 10% 0;
    display: block;
    width: 12.5rem;
    height: 3.5rem;
}





/*COURSES */








